.sub{
    color: white;
    background-color: rgb(225, 20, 20);
    border: none;
 
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}
.sub:hover{
    opacity: 0.4;
}
.sub:active{
    opacity: 0.3;
}
.join{
    background-color: white;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
}
.join:hover{
    background-color:blue ;
    color: white;
}
.join:active{
    opacity: 0.7;
}
.tweet{
    background-color: #6171eca1;
    color: white;
    height: 25px;
    width:75px;
    border: none;
    border-radius: 9px;
    border-width: 3px;
    font-weight: bold;
    font-size: 8px;
    margin-left: 8px;
    transition: box-shadow 0.15s;
   
}
.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}