p{
    font-family: Arial;
    margin-bottom: 0;
}
.video-title{
  
    font-size: 18px;
    width: 300px;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 20px;
}
.video-stats{
   
    font-size: 14px;
    color: gray;
    margin-top: 0;
}
.video-author{
   
    font-size: 14px;
    color: gray;
}
.video-description{
   
    font-size: 14px;
    color: gray;
    width: 280px;
    line-height: 20px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 12px;
    background-color:  #e34140;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.span-example{
    margin-left: 12px;
    color: white;
    cursor: pointer;
}
.span-example:hover{
   
    text-decoration-line: underline;
}
.html-title{
    font-family: Verdana;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
.html-head{
    margin-top: 0px;
    font-family: Verdana;
    color: gray;
    font-size: 15px;
}
.html-description{
    font-family: Verdana;
    width: 350px;
    font-size: 13px;
    margin-bottom: 10px;
}
.html-button{
    margin-top: 6px;
    color: white;
    background-color: rgb(11, 140, 11);
    border-radius: 6px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    
}